@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  transition: all 0.3s ease;
}

.product-search-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 20px;
  transition: padding 0.3s ease;
}

.search-icon {
  color: #555;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #00aced;
}

.search-icon:active {
  transform: scale(0.95);
}

.show-more-filter-products {
  text-align: center;
  padding: 12px 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  width: fit-content;
  max-width: 200px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease;
}

.show-more-filter-products:hover {
  background-color: #00aced;
  color: #fff;
  transform: scale(1.05);
}

.show-more-filter-products:active {
  transform: scale(1);
}

.home-header,
.product-header {
  text-align: center;
  margin-top: 20px;
}

.home-header h1 {
  font-size: 2.5rem;
  color: #333;
  font-family: "Arvo", serif;
}

.product-header h1 {
  font-size: 2rem;
  font-family: "Arvo", serif;
}

.home-header p {
  font-size: 1.2rem;
  color: #666;
  font-family: "Arvo", serif;
}

@media (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .product-search-area {
    max-width: 85%;
    padding: 5px 10px;
  }

  .search-input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .search-icon {
    margin-left: 5px;
  }

  .home-header h1 {
    font-size: 2rem;
  }

  .product-header h1 {
    font-size: 1.8rem;
  }

  .home-header p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .product-search-area {
    max-width: 85%;
    padding: 5px;
  }

  .search-input {
    font-size: 0.85rem;
    padding: 7px;
  }

  .show-more-filter-products {
    font-size: 0.9rem;
  }

  .home-header h1 {
    font-size: 1.8rem;
  }

  .product-header h1 {
    font-size: 1.5rem;
  }

  .home-header p {
    font-size: 0.9rem;
  }
}
