@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");

.product-card {
  font-family: "Arvo", serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-img-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
}

.product-img-area img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0 auto;
}

.product-details-area {
  padding: 5px;
  text-align: left;
}

.product-details-area h2 {
  font-family: "Arvo", serif;
  font-size: 1.2em;
  margin: 0;
  color: #333;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-details-area p {
  font-family: "Arvo", serif;
  margin: 0;
  color: #555;
  font-size: 0.95em;
  line-height: 1.5;
}

.product-details-area p.price {
  font-family: "Arvo", serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #00aced;
  margin-top: 5px;
}

.product-img-area svg {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
}

.product-img-area svg:hover {
  color: #00aced;
  background-color: #f4f4f4;
}

.product-view-more {
  font-family: "Arvo", serif;
  display: none;
  background-color: #f4f4f4;
  border-radius: 20px;
  color: #333;
  padding: 10px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.product-card:hover .product-view-more {
  display: block;
  transform: translateY(5px);
}

.product-view-more:hover {
  background-color: #00aced;
  color: #fff;
}

@media (max-width: 768px) {
  .product-img-area img {
    height: 150px;
  }
}

.product-card .MuiModal-root {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 1300;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.modal-content-wrapper {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 5%;
  max-width: 90%;
  overflow-y: scroll;
  max-height: 80%;
}

@media (max-width: 600px) {
  .modal-content-wrapper {
    max-width: 90%;
  }
}
