@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

:root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full viewport height */
  font-family: 'Arvo', serif; /* Apply the imported Arvo font globally */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif; /* Use the imported Arvo font */
  background-color: #f0f0f0; /* Light background */
  color: #333; /* Dark text color for contrast */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}